.hero {  
    background-color:$color-bgr;
    text-align: center;
    padding-top: 200px; 
  
    height: 600px;
    background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ), 
    url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
  }

  .hero-title{
    font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* or 136% */
  margin: auto; 
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
color: $color-white;


&.centred {
  text-align: center;
}
}