.team {
    display: flex;
     background-color: $color-white-bgr;
  
   }

   .person-team {

    font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  
  text-align: center;
  letter-spacing: 0.03em;
  
  color: $color-title;
  padding-top: 30px;
  padding-bottom: 10px;
  }


  .section-team{
    background-color: $color-white-bgr;
    padding-bottom: 94px;
    padding-top: 94px;
      
  }

  .social-link:focus
  {
   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
   }

   .team-img {
    
    position: relative;
  }
.team-title {
  width: 370px;
  margin-right: 30px;
  text-align: center;
  background: $color-white;
/* material shadow v1 */

box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
padding-bottom: 30px;
 
&:last-child {
    margin-right: 0px;
  }

}

.socials{
    display: inline-flex;
    justify-content: center;
    margin-top: 16px;

& li:not(:last-child){
    margin-right: 10px;
    }

    }

    .team-social-link {
        width: 44px;
        height: 44px;
        display: inline-flex;
       border-radius: 50%;
        background-color: $color-white;
        color: #AFB1B8;
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover .social-icon, 
        &:focus .social-icon{
       fill: $color-white;
        }
        
        &:hover,
        &:focus   {
          background-color: $color-accent;
        }        
      }

      .cocial-item:not(:last-child){
        margin-right: 10px;
        }

        .social-icon {
            width: 20px;
            height: 20px;
            margin: auto;
            fill: currentColor;
            transition-property: fill;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          
          }