.join-to{
    display: inline-block;
    padding-top: 12px;
    padding-left: 70px;
  }

  .join {
    font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-bottom: 20px;
  color: $color-white;
  }

  .social-footer {
    display: flex;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 0;
  
    & li:not(:last-child){
      margin-right: 10px;
    }
  }

  .footer-icons {
    width: 44px;
    height: 44px;
    display: inline-flex;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    & .social-icon {
      fill: $color-white;
        }

        &:hover,
&:focus {
  background-color: #2196F3;
}

  }